cloudpickle
crafter
gym==0.26.2
dm_control
jax
jaxlib
numpy
optax
rich
ruamel.yaml
tensorflow[and-cuda]==2.13.0
tensorflow_probability==0.21.0
scikit-image
ffmpeg
moviepy
imageio
wandb
opencv-python
shapely==1.8.4
carla
matplotlib
flask

TODO
